@import "tailwindcss";

@theme {
  --color-background: #6c1329;
  --color-foreground: #e3b675;
}


.navbar-mask {
  --cut-size: 42px;

  -webkit-mask:
    radial-gradient(circle var(--cut-size) at calc(100% - 88px) 50%,
      transparent 98%,
      black 100%),
    linear-gradient(black, black);

  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.font-nunito {
  font-family: 'Nunito', sans-serif;
}